.card-menu {
	li {

		&:first-of-type {
			border-top: 1px solid var(--faded-text);
		}


		padding: 1.5rem;
		display: block;
		width: 100%;
		border-bottom: 1px solid var(--faded-text);
		transition: background-color 0.2s ease-in-out;


		&:hover {
			background-color: rgb(37, 36, 36);
		}
	}
}

post-card {

	padding-top: 10px;
	display: grid;
	grid-template-columns: 50px 1fr;
	column-gap: 8px;
	row-gap: 10px;
	width: 100%;
	position: relative;

	h3.level-one-voice {
		font-weight: 700;
		text-transform: uppercase;
		word-break: break-word;
	}

	picture {
		position: relative;
		border-radius: 5px;
		max-height: 50px;

		box-shadow: 0 0 0 1px rgb(46 46 46);

		img {
			object-fit: cover;
			border-radius: 5px;
			width: 50px;
		}

		.vignette-overlay {
			border-radius: 5px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgb(255, 255, 255);
			background: radial-gradient(circle,
					rgba(255, 255, 255, 0) 0%,
					rgba(0, 0, 0, 0.6) 90%);
			pointer-events: none;
		}
	}

	@media (min-width: 500px) {
		grid-template-columns: 100px 1fr;

		picture {
			max-height: 100px;

			img {
				width: 100px;
				height: 100px;
			}
		}
	}

	text-content {
		overflow: hidden;
		position: relative;

		grid-column: 2/-1;
		gap: 8px;


		p.visible-content {
			max-height: 6em;
			opacity: .7;
			font-style: italic;
		}

		.blurred {
			background: rgba(0, 0, 0, 0.05);
			box-shadow: 0 0px 0px 0 rgba(10, 18, 132, 0.5);
			backdrop-filter: blur(2px);

			position: absolute;
			bottom: 0;
			left: 0;
			height: 50%;
			width: 100%;
			z-index: 100;
		}
	}
}

card-footer {
	grid-column: 1/-1;
	display: flex;
	align-self: flex-end;
	width: 100%;
	justify-content: flex-start;
	gap: 2px;
	padding-top: 20px;

	p {
		font-size: inherit;
	}

	.reading-time {
		text-transform: uppercase;
	}

	.faded {
		color: var(--faded-text);
	}
}

card-header {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	grid-column: 1/-1;
	position: absolute;
	bottom: 0px;
	right: 0;
	border-radius: 999px;
	width: 85px;
	height: 25px;
}


/// Loading Container

.loading-container {
	background-color: var(--background);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	height: 100%;

	div {
		display: grid;
		padding-top: 70px;
		place-items: center;
		min-height: 40vh;
		margin-bottom: 20vh;
	}

	text-content {
		padding-top: 100px;
		padding-bottom: 100px;
		max-width: 360px;
		margin: 0 auto;

		p {
			line-height: 1;
			text-align: center;
			font-weight: 200;
			letter-spacing: 0.05em;
			font-style: italic;
			padding-bottom: 1rem;
		}
	}
}