.card-menu {
	li {

		&:first-of-type {
			border-top: var(--thin) solid var(--text-faded);
		}


		display: block;
		width: 100%;
		border-bottom:var(--thin) solid var(--text-faded);
		transition: background-color 0.2s ease-in-out;


		&:hover {
			background-color: var(--dark-hover);
		}

		>a {
			padding: 1rem 1.5rem;
			display: block;

			post-card text-content {
				padding-right: 20px;
			}
		}
	}
}

post-card {

	padding-top: 10px;
	display: grid;
	grid-template-columns: 50px 1fr;
	column-gap: 8px;
	row-gap: 10px;
	width: 100%;
	position: relative;

	h3.level-one-voice {
		font-weight: 700;
		text-transform: uppercase;
		word-break: break-word;
	}

	picture {
		position: relative;
		border-radius: var(--border-card);
		max-height: 50px;

		box-shadow: 0 0 0var(--thin) var(--box-shadow);

		img {
			object-fit: cover;
			border-radius: var(--border-card);
			width: 50px;
		}

		.vignette-overlay {
			border-radius: var(--border-card);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background: var(--black);
			background: radial-gradient(circle,
					rgb(var(--white-rgb) / 0) 0%,
					rgba(var(--black-rgb)/ 0.6) 90%);
			pointer-events: none;
		}
	}

	@media (min-width: 500px) {
		grid-template-columns: 100px 1fr;

		picture {
			max-height: 100px;

			img {
				width: 100px;
				height: 100px;
			}
		}
	}

	text-content {
		overflow: hidden;
		position: relative;
		min-height: 5em;
		grid-column: 2/-1;
		gap: 8px;


		p.visible-content {
			max-height: 6em;
			opacity: .7;
			font-style: italic;
			min-height: 3em;


			a {
				text-decoration: underline;
				color: var(--button-bg);
			}

			ol {
				list-style: upper-roman;
			}

			li {
				border: none !important;
				padding: 0;
				list-style: disc outside none;
				display: list-item;
				margin-left: 1em;
			}

			blockquote {
				border-left: 4px solid var(--white);
				padding: 5px;
				margin: 5px 0;
				border-radius: var(--border-adjust);

				background-color: var(--input-placeholder);
			}

		}
	}
}

card-footer {
	grid-column: 1/-1;
	display: flex;
	align-self: flex-end;
	width: 100%;
	justify-content: flex-start;
	gap: 2px;
	padding-top: 20px;

	p {
		font-size: inherit;
	}

	.reading-time {
		text-transform: uppercase;
	}

	.faded {
		color: var(--text-faded);
	}
}

card-btns {
	position: absolute;
	top: -2px;
	right: 2px;
	z-index: 1;

	.show-btns {
		appearance: none;
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		color: var(--white);
		background-color: transparent;
		cursor: pointer;
		pointer-events: all;
		display: flex;
		align-items: center;
		justify-content: center;

		&::after {
			content: '';
			padding: 6px;
			width: 1.7rem;
			height: 1.7rem;
			border-radius: var(--border-circle);
			background-color: var(--text-faded);
			position: absolute;
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
		}

		&:hover {
			svg {
				color: var(--button-bg);
			}

			&::after {
				opacity: 0.2;
			}
		}
	}
}

card-btns.active {
	.show-btns {
		&::after {
			opacity: 1;
			z-index: -1;
		}

		svg {
			color: var(--text);
		}
	}
}

card-btns-shown {
	display: flex;
	flex-direction: column;
	background-color: var(--background);
	width: 250px;
	position: absolute;
	top: 15px;
	right: 0px;
	z-index: 1;
	height: auto;
	max-height: calc(100% - 22px);
	// inset: 0px auto auto 0px;
	border-radius: var(--border-adjust);
	box-shadow: 0 0 8px rgb(var(--button-bg-rgb) / 0.5);

	button {
		cursor: pointer;
		border-radius: var(--border-adjust);
		font-weight: 700;
		border: none;
		margin: 0;
		width: 100%;
		background-color: transparent;
		padding: 10px;
		color: inherit;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: var(--button-bg-hover);
		}
	}

	p {
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: all;
		text-align: center;
		padding: 5px 0px;

		span {
			display: block;
			min-width: 25px;
			pointer-events: all;
		}
	}
}


/// Loading Container

.loading-container {
	background-color: var(--background);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	height: 100%;

	div {
		display: grid;
		padding-top: 70px;
		place-items: center;
		min-height: 40vh;
		margin-bottom: 20vh;
	}

	text-content {
		padding-top: 100px;
		padding-bottom: 100px;
		max-width: 360px;
		margin: 0 auto;

		p {
			line-height: 1;
			text-align: center;
			font-weight: 200;
			letter-spacing: 0.05em;
			font-style: italic;
			padding-bottom: 1rem;
		}
	}
}