.editor-container {
	display: flex;
	flex-direction: row !important;
	position: relative;

	.ql-toolbar,
	.ql-formats {
		display: flex !important;
		flex-direction: column;
		column-gap: 1px;
		row-gap: 1px;
	}

	.ql-container {
		width: 100%;

	}

	.ql-editor {
		border-top: 1px solid var(--button-bg);
		min-height: 417px;

		p {
			font-weight: 100;
			font-size: var(--size-base);
		}
	}

	.ql-toolbar {
		position: sticky;
		top: 48px;
		// margin-left: -1.5rem;
		max-height: 417px;
		row-gap: 7px;
	}

	.ql-toolbar.ql-snow .ql-formats {
		margin-right: 0px;
	}
}


.ql-editor {
	min-height: 120px;
}

.ql-toolbar.ql-snow .ql-formats button,
.ql-toolbar.ql-snow .ql-formats .ql-picker {
	background-color: var(--background);

	height: 35px !important;
	width: 35px !important;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
	border-color: var(--button-bg) !important;
}

.ql-editor.ql-blank::before {
	color: rgb(174, 173, 173) !important;
	font-size: var(--size-base);
}

.ql-formats {

	button,
	.ql-picker {
		border-radius: 5px;
		transition: background-color .2s ease-in-out;
	}

	.ql-fill {
		fill: rgb(174, 173, 173) !important;
	}

	.ql-stroke {
		stroke: rgb(174, 173, 173) !important;

	}
}

.ql-toolbar.ql-snow .ql-formats .ql-active {
	background-color: rgb(43 43 43);

	.ql-fill {
		fill: var(--button-bg) !important;
	}

	.ql-stroke {
		stroke: var(--button-bg) !important;
	}
}



// .ql-snow.ql-toolbar {


// 	.ql-picker:hover,
// 	button:hover {
// 		background-color: rgba(255, 255, 255, 0.129);

// 		.ql-fill {
// 			fill: var(--button-bg) !important;
// 		}

// 		.ql-stroke {
// 			stroke: var(--button-bg) !important;

// 		}
// 	}
// }


.detail-post-content {
	* {
		line-height: 1.7;
	}

	ol {
		list-style: upper-roman;
		padding-left: 15px;
		margin-left: 15px;
	}

	ul {
		list-style-type: disc;
		padding-left: 15px;
		margin-left: 15px;
	}

	p a {
		text-decoration: underline;
		color: var(--button-bg);
	}

	blockquote {
		border-left: 4px solid white;
		padding: 5px;
		margin: 5px 0;
		border-radius: 2px;

		background-color: rgb(81, 79, 79);
	}

}