.editor-container {
	display: flex;
	flex-direction: row !important;
	position: relative;

	.ql-toolbar,
	.ql-formats {
		display: flex !important;
		flex-direction: column;
		column-gap: var(--thin);
		row-gap: var(--thin);
	}

	.ql-container {
		width: 100%;

	}

	.ql-editor {
		border-top: var(--thin) solid var(--button-bg);
		min-height: 417px;

		p {
			font-weight: 100;
			font-size: var(--size-base);
		}
	}

	.ql-toolbar {
		position: sticky;
		top: 48px;
		// margin-left: -1.5rem;
		max-height: 417px;
		row-gap: 7px;
	}

	.ql-toolbar.ql-snow .ql-formats {
		margin-right: 0px;
	}
}

.ql-editor ol,
.ql-editor ul {
	padding-left: 0 !important;
}

.ql-editor {
	min-height: 120px;


}

.ql-toolbar.ql-snow .ql-formats button,
.ql-toolbar.ql-snow .ql-formats .ql-picker {
	background-color: var(--background);

	height: 35px !important;
	width: 35px !important;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
	border-color: var(--button-bg) !important;
}

.ql-editor.ql-blank::before {
	color: var(--text-faded) !important;
	font-size: var(--size-base);
}

.ql-formats {

	button,
	.ql-picker {
		border-radius: 5px;
		transition: background-color .2s ease-in-out;
	}

	.ql-fill {
		fill: var(--text-faded) !important;
	}

	.ql-stroke {
		stroke: var(--text-faded) !important;

	}
}

.ql-toolbar.ql-snow .ql-formats .ql-active {
	background-color: var(--box-shadow);

	.ql-fill {
		fill: var(--button-bg) !important;
	}

	.ql-stroke {
		stroke: var(--button-bg) !important;
	}
}


.detail-post-content {
	* {
		line-height: 1.7;
	}

	ol,
	ul {

		li {
			border: none !important;
			padding: 0;
			list-style: disc outside none;
			display: list-item;
			margin-left: 1em;
		}
	}

	ol {
		list-style: upper-roman;
	}

	p a {
		text-decoration: underline;
		color: var(--button-bg);
	}

	blockquote {
		border-left: 4px solid var(--white);
		padding: 5px;
		margin: 5px 0;
		border-radius: 2px;

		background-color: var(--input-placeholder);
	}

}

.ql-snow .ql-icon-picker .ql-picker-item {
	width: 30px !important;
}