text-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

inner-column {
	display: block;
	position: relative;
	max-width: 1150px;
	margin: auto;
	padding: 4rem 7rem;
	z-index: 1;
}

@media (max-width: 768px) {
	inner-column {
		padding: 4rem 1.5rem;
	}
}