:root,
.dark-mode {
	--background: rgb(13, 15, 15);
	--background-rgb: 13 15 15;

	--text: rgb(246, 245, 245);
	--text-faded: rgb(165 165 165);
	--text-rgb: 246 245 245;

	--white: rgb(255 255 255);
	--white-rgb: 255 255 255;
	--black: rgb(2 2 2);
	--black-rgb: 2 2 2;
	--dark-hover: rgb(27, 26, 26);

	--button-text: white;
	--button-bg: rgb(39, 174, 96);
	--button-bg-hover: rgb(30, 132, 73);
	--button-box: rgb(39, 174, 96, .22);
	--button-box-hover: rgba(39, 174, 96, .3);
	--button-bg-rgb: 39 174 96;

	--input-bg: rgb(193 193 193);
	--input-focus: rgb(239 239 239);
	--input-placeholder: rgb(87, 84, 84);
	--text-placeholder: rgb(174, 173, 173);

	--outline-color: rgb(128, 127, 127);
	--outline-color-rgb: 128 127 127;
	--sm-outline: 1px solid var(--outline-color);
	--box-shadow: rgb(46 46 46);

	--dash-hover: rgb(37, 36, 36);

	--success-green: #155724;
	--success-border: #c3e6cb;
	--required-red: rgb(232, 17, 17);
	--liked-red: rgba(219, 15, 15, 0.447);

	--thin: 1px;
	--line: 3px;
	--thick: 5px;

	--border-adjust: 3px;
	--border-card: 5px;
	--border-max: 999px;
	--border-circle: 50%;


	--color-primary-hsl: 145, 63%, 42%;
	--color-primary: hsl(145, 63%, 42%);
	--color-primary-10: hsla(var(--color-primary-hsl), .1);
	--color-primary-20: hsla(var(--color-primary-hsl), .2);
	--color-primary-30: hsla(var(--color-primary-hsl), .3);
	--color-primary-40: hsla(var(--color-primary-hsl), .4);
	--color-primary-50: hsla(var(--color-primary-hsl), .5);
	--color-primary-60: hsla(var(--color-primary-hsl), .6);
	--color-primary-70: hsla(var(--color-primary-hsl), .7);
	--color-primary-80: hsla(var(--color-primary-hsl), .8);
	--color-primary-90: hsla(var(--color-primary-hsl), .9);

	--color-secondary-hsl: 0, 0%, 96%;
	--color-secondary: #f5f5f5;
	--color-secondary-10: hsla(var(--color-secondary-hsl), .1);
	--color-secondary-20: hsla(var(--color-secondary-hsl), .2);
	--color-secondary-30: hsla(var(--color-secondary-hsl), .3);
	--color-secondary-40: hsla(var(--color-secondary-hsl), .4);
	--color-secondary-50: hsla(var(--color-secondary-hsl), .5);
	--color-secondary-60: hsla(var(--color-secondary-hsl), .6);
	--color-secondary-70: hsla(var(--color-secondary-hsl), .7);
	--color-secondary-80: hsla(var(--color-secondary-hsl), .8);
	--color-secondary-90: hsla(var(--color-secondary-hsl), .9);


	--color-black-hsl: 0, 0%, 5%;
	--color-black: #0d0d0d;
	--color-black-10: hsla(var(--color-black-hsl), .1);
	--color-black-20: hsla(var(--color-black-hsl), .2);
	--color-black-30: hsla(var(--color-black-hsl), .3);
	--color-black-40: hsla(var(--color-black-hsl), .4);
	--color-black-50: hsla(var(--color-black-hsl), .5);
	--color-black-60: hsla(var(--color-black-hsl), .6);
	--color-black-70: hsla(var(--color-black-hsl), .7);
	--color-black-80: hsla(var(--color-black-hsl), .8);
	--color-black-90: hsla(var(--color-black-hsl), .9);
}

.light-mode {
	--background: rgb(247 247 247);
	--background-rgb: 247 247 247;

	--text: rgb(10 12 12);
	--text-faded: rgb(125, 125, 125) !important;
	--text-rgb: 10 12 12;

	--dark-hover: rgb(230, 229, 229);
	--dash-hover: rgb(219, 217, 217);

	--box-shadow: rgb(214 213 213);

	--white: black;
	--white-rgb: 0 0 0;

	.logo svg {

		opacity: .3;
	}

	glass-container {
		background-color: var(--color-black-40);
	}

	landing-block picture img {
		filter: invert(1);
	}

	card-btns-shown {
		button {
			&:hover {
				background-color: var(--button-bg);
			}
		}
	}

	blockquote {
		color: white !important;
	}

}

.vampire-mode {
	--background: rgb(0 0 0);
	--background-rgb: 0 0 0;

	--button-bg: rgb(235 88 62);
	--button-bg-rgb: 235 88 62;

	--button-bg-hover: rgb(191, 65, 43);
	--button-box: rgb(235 88 62/ .22);
	--button-box-hover: rgba(235 88 62 /.3);

	body {
		* {
			font-family: 'Roboto Slab', serif;
		}
	}

	.logo,
	title-block h1 span,
	text-content h3,
	text-module .slab,
	detail-page h1 {
		font-family: 'DM Sans', sans-serif !important;
	}

	.modal-footer a {
		padding: 0px 9px !important;
	}

	@media(min-width:850px) {
		big-view .modal-footer a {
			padding: 5px 5px !important;
		}
	}
}

.canary-mode {
	body {
		font-family: "Montserrat", sans-serif !important;
	}

	--background: #ffffea;
	--background-rgb: 255 255 234;

	--text: rgb(10 12 12);
	--text-faded: rgb(125, 125, 125) !important;
	--text-rgb: 10 12 12;


	--button-bg: #b71c1c;
	--button-bg-hover: #951919;
	--button-box: rgb(211 211 249 /.22);
	--button-box-hover: rgba(211 211 249 /.3);
	--button-bg-rgb: 211 211 249;

	--dark-hover: #eeeecb;
	--dash-hover: #e5e5cb;

	--box-shadow: rgb(186, 186, 186);

	--white: black;
	--white-rgb: 0 0 0;

	--black: white;

	detail-page picture {
		&:before {
			background-image: linear-gradient(to bottom, rgb(var(--text-rgb) / 0.2) 0%, var(--text-faded) 100%) !important;
		}
	}

	landing-block picture img {
		filter: invert(1);
		opacity: .4 !important;
	}


	.modal-footer a {
		padding: 0px 7px !important;
	}

	card-btns-shown {
		button {
			&:hover {
				background-color: var(--button-bg);
			}
		}
	}


	blockquote {
		color: white !important;
	}

	@media(min-width:850px) {
		big-view .modal-footer a {
			padding: 5px 5px !important;
		}
	}
}


.low-contrast-mode {
	--background: rgb(29, 39, 52);
	--background-rgb: 29 39 52;
	--dark-hover: rgb(15, 32, 53);

	--button-bg: rgb(97, 135, 166);
	--button-bg-hover: rgb(42, 96, 139);
	--button-box: rgb(109 151 185 /.22);
	--button-box-hover: rgb(109 151 185 /.3);
	--button-bg-rgb: 109 151 185;

	--dash-hover: rgb(53, 64, 74);

	.logo svg {
		stroke: var(--white);
	}

	--text-faded: rgb(162 164 166) !important;

}

.sepia-mode {
	--background: rgb(187 63 63);
	--background-rgb: 187 63 63;
	--dark-hover: rgb(15 32 53);


	--button-bg: rgb(50 52 78);
	--button-bg-hover: rgb(24 23 44);
	--button-box: rgb(50 52 78 /.22);
	--button-box-hover: rgb(50 52 78 /.3);
	--button-bg-rgb: 50 52 78;

	--dash-hover: rgb(53, 64, 74);
	--dark-hover: rgb(148, 37, 37);

	.logo svg {
		stroke: var(--white);
	}

	--text-faded: rgba(252, 252, 252, 0.751) !important;
}

.venomized-mode {


	--background: rgb(81 62 85);
	--background-rgb: 81 62 85;

	--dark-hover: rgb(50 27 55);


	--button-bg: rgb(117 73 71);
	--button-bg-hover: rgb(24 23 44);
	--button-box: rgb(50 52 78 /.22);
	--button-box-hover: rgb(50 52 78 /.3);
	--button-bg-rgb: 50 52 78;

	--dash-hover: rgb(53, 64, 74);

	.logo svg {
		stroke: var(--white);
	}

	--text-faded: rgba(252, 252, 252, 0.751) !important;
}

.glitch-mode {
	--background: rgb(33, 154, 83);
	--background-rgb: 39 174 96;

	--text-faded: rgb(25, 25, 25);

	--white: rgb(255 255 255);
	--white-rgb: 255 255 255;
	--black: rgb(2 2 2);
	--black-rgb: 2 2 2;
	--dark-hover: rgb(18, 107, 55);

	--button-text: white;
	--button-bg: rgb(10 12 12);
	--button-bg-hover: rgb(30, 20, 35);
	--button-box: rgb(10 12 12 / .22);
	--button-box-hover: rgb(10 12 12 /.3);
	--button-bg-rgb: 39 174 96;

	--button-inverse: rgb(216, 81, 159);

	landing-block picture img {

		opacity: .3 !important;
	}

	post-header {
		color: black;

		a {
			&:after {
				background-color: var(--black) !important;
			}
		}
	}

	card-footer {
		p {
			svg {

				color: var(--black);
			}
		}
	}

	.palette-button svg {
		flex-shrink: 0;
	}

	.glitch {
		color: white;

		position: relative;
		width: 400px;
		margin: 0 auto;
		pointer-events: none;
	}

	p.show-theme {

		.glitch {
			height: 20px !important;

			&:before {
				left: 5px !important;
				top: 0;
			}

			&:after {
				animation: noise-anim 2s infinite linear reverse;
			}
		}
	}

	@keyframes noise-anim {
		$steps: 20;

		@for $i from 0 through $steps {
			#{percentage($i*(calc(1 / $steps)))} {
				clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			}
		}
	}

	.glitch:after {
		content: attr(data-text);
		position: absolute;
		left: 2px;
		text-shadow: -1px 0 var(--button-inverse);
		top: 0;


		overflow: hidden;
		clip: rect(0, 900px, 0, 0);
		animation: noise-anim 2s infinite linear alternate-reverse;
		pointer-events: none;
	}

	@keyframes noise-anim-2 {
		$steps: 20;

		@for $i from 0 through $steps {
			#{percentage($i*(calc(1 / $steps)))} {
				clip: rect(random(10)+px, 9999px, random(100)+px, 0);
			}
		}
	}

	.glitch:before {
		content: attr(data-text);
		position: absolute;
		left: -2px;
		text-shadow: 1px 0 var(--button-bg);
		top: -12px;

		overflow: hidden;
		clip: rect(0, 800px, 0, 0);
		animation: noise-anim-2 3s infinite linear alternate-reverse;
		pointer-events: none;
	}

	@media(min-width:600px) {
		p.show-theme .glitch {
			height: auto;
		}

		.glitch {
			color: #fff;

			pointer-events: none;
			margin-bottom: 70px;
			position: relative;
			width: auto;
			height: auto;
			margin: auto;

		}

		p.show-theme .glitch:before {
			left: -1px !important;
			top: 66px;
		}

		.glitch:after {
			top: 102px;
		}
	}
}